@import '../../_theme.scss';

header {
  background: $header-bg;
}

.content {
  max-width: $width-max;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.tabPanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0;

  .tab {
    display: block;
    padding: 0.5rem 1rem;
    &:first-child {
      padding-left: 0;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $link-color;

      &:hover {
        text-decoration: underline;
        color: $link-color-active;
      }
    }
  }
}
