:host {
  display: block;
  margin: 2rem 0;
  font-style: italic;
  line-height: 1.5;
  max-width: 600px;
  text-align: justify;
  padding: 3rem;
  box-shadow: 1px 1px 10px #a7a772;
  background: rgba(245, 245, 189, 0.75);
}

.sign {
  text-align: right;
  margin-top: 1rem;
}
