<div class="row">
  <form class="col">
    <label>{{'CATALOG.SEARCH_TOUR' | translate}}</label>
    <input class="input-text" type="text"
           [(ngModel)]="searchText"
           placeholder="Search text"
           name="searchText">
  </form>
</div>

<ul class="catalogList">
  <li class="card" *ngFor="let item of list | filter: searchText">
    <div class="image-wrap">
      <img [src]="'/assets/images/'+item.image + '.jpg'" alt="image"/>
    </div>
    <div class="title-wrap">
      <div class="place">{{ item.place }}</div>
      <div class="title"><a href="#">{{ item.title }}</a></div>
    </div>
    <div class="description">
      <div class="row">
        <div class="col">
          {{'CATALOG.LEVEL' | translate}}:
        </div>
        <div class="col">
          {{ item.level }}
        </div>
      </div>
      <div class="term row">
        <div class="col">
          {{'CATALOG.TERM' | translate}}:
        </div>
        <div class="col">
          {{ item.term }}
        </div>
      </div>
      <div class="date row">
        <div class="col">
          {{'CATALOG.CLOSE_DATE' | translate}}:
        </div>
        <div class="col">
          {{ item.date }}
        </div>
      </div>
    </div>
    <div class="footer row">
      <div class="price col"> {{item.price }}</div>
      <div class="col">
        <button class="btn btn-more">{{'CATALOG.MORE' | translate}}</button>
      </div>
    </div>
  </li>
</ul>
